# Cache
__pycache__
*.pyc

# Config
.env
/.vscode


# data
/logs/
/data/music/
/data/record/
/data/message/
/audio-chucks/
/audio-chunks/*.*
/data/playlist/
/data/attachments/
/data/download/
data/*.txt
start.bat
.vscode/settings.json
data/alert_channel.txt

.DS_Store

output1.png
output2.png
output3.png

message_collect.txt
silence_channel.txt
talk_channel.txt

reboot.py