[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytz = "*"
pydub = "*"
openai = "*"
google-api-python-client = "*"
pipfile = "*"
numpy = "*"
beautifulsoup4 = "*"
yt-dlp = "*"
pynacl = "*"
gitpython = "*"
testcord = "*"
pytest-asyncio = "*"
pytest = "*"
py-cord = {extras = ["voice"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
