[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
python-dotenv = "*"
pytz = "*"
pydub = "*"
openai = "*"
google-api-python-client = "*"
pipfile = "*"
numpy = "*"
beautifulsoup4 = "*"
requests-html = "*"
yt-dlp = "*"
pynacl = "*"
gitpython = "*"

[dev-packages]

[requires]
python_version = "3.10"
