[Unit]
Description=Xiao Xia API Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/Xiao-Xia
ExecStart=/home/ubuntu/.local/bin/uv run main.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target